.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_nav {
    display: flex;
    gap: 70px;
    & a {
      text-decoration: none;
      color: #000;
    }
  }
  & button {
    background-color: transparent;
    border: none;
  }
}

